<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("header.ejs") %> <%- include("header-script.ejs") %> <%-style %>
  </head>

  <body class="container">
    <%- include("menu.ejs") %> 
    <%-content %> 
    <%- include("footer.ejs") %> 
    <%-include("content-script.ejs") %> 
    <%-script %>
  </body>
</html>
