<!doctype html>
<html lang="en">
    <head>
        <%- include("header.ejs") %>
        <%- include("header-link.ejs") %>

        <%-style %>
    </head>
   
    <body class="container">
        <%- include("menu.ejs") %>

        <%-content %>

        <%- include("content-script.ejs") %>

        <%- include("footer.ejs") %>

        <%-script %>

    </body>


</html>