<!doctype html>
<html lang="en">
    <head>
        <%- include("header.ejs") %>
        <%- include("header-script.ejs") %>
        <%-style %>
        <style>
            .metismenu .not-expanded .mm-collapse:not(.mm-show) {        
                display: block !important;
            }
        </style>
    </head>
   
    <body data-sidebar="dark">

    <!-- <body data-layout="horizontal"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">
            
            
            <header id="page-topbar" class="isvertical-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="/xcaliber/admin" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="/assets/pc/images/h2_logo.png" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="/assets/pc/images/h2_logo.png" alt="" height="22">
                                </span>
                            </a>

                            <a href="/xcaliber/admin" class="logo logo-light">
                                <span class="logo-lg">
                                    <img src="/assets/pc/images/h2_logo.png" alt="" height="20">
                                </span>
                                <span class="logo-sm">
                                    <img src="/assets/pc/images/h2_logo.png" alt="" height="22">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn topnav-hamburger">
                            <span class="hamburger-icon open">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </button>

                        <div class="d-none d-sm-block ms-3 align-self-center">
                            <h4 class="page-title"><%-pageTitle %></h4>
                        </div>

                    </div>

                    <div class="d-flex">
                        <!-- 사용자 -->
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item user text-start d-flex align-items-center" id="page-header-user-dropdown-v"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle header-profile-user" src="/assets/pc/images/users/avatar-1.jpg"
                                alt="Header Avatar">
                            </button>
                            <div class="dropdown-menu dropdown-menu-end pt-0">
                                <div class="p-3 border-bottom">
                                    <h6 class="mb-0"><%=user.name %></h6>
                                    <p class="mb-0 font-size-11 text-muted"><%=user.loginId %></p>
                                </div>
                                <a class="dropdown-item" href="/auth/logout"><i class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span class="align-middle">Logout</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="topnav">
                    <div class="container-fluid">
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
    
                        </nav>
                    </div>
                </div>
            </header>
            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <!-- LOGO -->
                <div class="navbar-brand-box text-center">
                    <a href="/xcaliber/admin" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="/assets/pc/images/h2_logo.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="/assets/pc/images/h2_logo.png" alt="" height="22">
                        </span>
                    </a>

                    <a href="/xcaliber/admin" class="logo logo-light">
                        <span class="logo-lg">
                            <img src="/assets/pc/images/h2_logo.png" alt="" height="83">
                        </span>
                        <span class="logo-sm">
                            <img src="/assets/pc/images/h2_logo.png" alt="" height="22">
                        </span>
                    </a>
                </div>

                <%- include("sidebar.ejs") %>

            </div>
            <!-- Left Sidebar End -->
            <header class="ishorizontal-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="index.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="/assets/pc/images/h2_logo.png" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="/assets/pc/images/h2_logo.png" alt="" height="22">
                                </span>
                            </a>

                            <a href="index.html" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="/assets/pc/images/h2_logo.png" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="/assets/pc/images/h2_logo.png" alt="" height="22">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>

                        <div class="d-none d-sm-block ms-2 align-self-center">
                            <h4 class="page-title">Dashboard</h4>
                        </div>
                    </div>

                </div>
            </header>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

                        <%-content %>

                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                2022. toktokking All right reserved
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <div id="sidebar-setting"></div>
        <!-- /Right-bar -->               
        
        <!-- JAVASCRIPT -->
        <%- include("content-script.ejs") %>


        <!-- <script src="/assets/js/app.js"></script> -->
        <script>
            document.addEventListener("DOMContentLoaded", function (t) {
                document.getElementById("side-menu") && new MetisMenu("#side-menu");
            });
        </script>
        <%-script %>
    </body>

</html>