<!doctype html>
<html lang="ko">

    <head>
        <%-include("header.ejs") %>
        <%-include("header-script.ejs") %>
        <%-style %>
    </head>

   <body>
        <%-content %>

        <!-- JAVASCRIPT -->
        <%- include("content-script.ejs") %>
       
       <%-script %>
    </body>
</html>