<%- contentFor('style') %>

<%- contentFor('content') %>
<section class="authentication-bg min-vh-100 py-5 py-lg-0">
    <div class="bg-overlay bg-light"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center mb-5">
                                <h1 class="error-title"> <span class="blink-infinite">500</span></h1>
                                <h4 class="text-uppercase">Internal Server Error</h4>
                                <p class="font-size-15 mx-auto text-muted w-50 mt-4">에러가 발생했습니다</p>
                                <p><h1><%= message %></h1>
                                    <h2><%= error.status %></h2>
                                    <pre><%= error.stack %></pre>
                                </p>
                                <div class="mt-5 text-center">
                                    <a class="btn btn-primary waves-effect waves-light" href="/">Back to Home</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<%- contentFor('script') %>